#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
# {{ template_fullpath | regex_replace('^' ~ role_path, role_path | basename) }}

name: {{ docker_project_slug }}

services:

  forgejo:
    image: codeberg.org/forgejo/forgejo:{{ forgejo_version }}
    container_name: {{ docker_project_slug }}
    restart: {{ docker_project_restart }}

    {{ docker_project_service_network_options | indent(4) }}

    {{ docker_project_service_additional_options | indent(4) }}

    {% if forgejo_database in ['mysql', 'postgres'] %}
    depends_on:
      - db
    {% endif %}

    env_file:
      - .env
    environment:
      - USER_UID={{ forgejo_puid }}
      - USER_GID={{ forgejo_pgid }}

      - FORGEJO__database__DB_TYPE={{ forgejo_database }}
      {% if forgejo_database == 'mysql' %}
      - FORGEJO__database__HOST=db:3306
      {% elif forgejo_database == 'postgres' %}
      - FORGEJO__database__HOST=db:5432
      {% endif %}

    volumes:
      # System
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

      # Forgejo data directory
      - ./data:/data

      {% if forgejo_git_repositories != forgejo_git_repositories_default %}
      # Git repositories
      - {{ forgejo_git_repositories | default(forgejo_git_repositories_default) }}:/data/git/repositories
      {% endif %}

      {% if forgejo_storage_attachments != forgejo_storage_attachments_default %}
      # Storage: Attachments
      - {{ forgejo_storage_attachments | default(forgejo_storage_attachments_default) }}:/data/gitea/attachments
      {% endif %}
      {% if forgejo_storage_lfs != forgejo_storage_lfs_default %}
      # Storage: LFS
      - {{ forgejo_storage_lfs | default(forgejo_storage_lfs_default) }}:/data/git/lfs
      {% endif %}
      {% if forgejo_storage_avatars != forgejo_storage_avatars_default %}
      # Storage: Avatars
      - {{ forgejo_storage_avatars | default(forgejo_storage_avatars_default) }}:/data/gitea/avatars
      {% endif %}
      {% if forgejo_storage_repo_avatars != forgejo_storage_repo_avatars_default %}
      # Storage: Repository avatars
      - {{ forgejo_storage_repo_avatars | default(forgejo_storage_repo_avatars_default) }}:/data/gitea/repo-avatars
      {% endif %}
      {% if forgejo_storage_repo_archive != forgejo_storage_repo_archive_default %}
      # Storage: Repository archives
      - {{ forgejo_storage_repo_archive | default(forgejo_storage_repo_archive_default) }}:/data/gitea/repo-archive
      {% endif %}
      {% if forgejo_storage_packages != forgejo_storage_packages_default %}
      # Storage: Packages
      - {{ forgejo_storage_packages | default(forgejo_storage_packages_default) }}:/data/gitea/packages
      {% endif %}
      {% if forgejo_storage_actions_log != forgejo_storage_actions_log_default %}
      # Storage: Actions logs
      - {{ forgejo_storage_actions_log | default(forgejo_storage_actions_log_default) }}:/data/gitea/actions_log
      {% endif %}
      {% if forgejo_storage_actions_artifacts != forgejo_storage_actions_artifacts_default %}
      # Storage: Actions Artifacts
      - {{ forgejo_storage_actions_artifacts | default(forgejo_storage_actions_artifacts_default) }}:/data/gitea/actions_artifacts
      {% endif %}

      {% if forgejo_log_directory != forgejo_log_directory_default %}
      # Forgejo logs
      - {{ forgejo_log_directory | default(forgejo_log_directory_default) }}:/data/gitea/log
      {% endif %}

    labels:
      {{ traefik_project_base_labels | indent(6) }}
      {{ docker_project_service_additional_labels | indent(6) }}

  {% if forgejo_database == 'mysql' %}
  db:
    image: mysql:{{ forgejo_database_mysql_version }}
    restart: {{ docker_project_restart }}
    environment:
      - MYSQL_ROOT_PASSWORD={{ forgejo_database_mysql_root_password }}
      - MYSQL_USER={{ forgejo_database_mysql_user }}
      - MYSQL_PASSWORD={{ forgejo_database_mysql_password }}
      - MYSQL_DATABASE={{ forgejo_database_mysql_database }}
    networks:
      - default
    volumes:
      - ./mysql:/var/lib/mysql

  {% elif forgejo_database == 'postgres' %}
  db:
    image: postgres:{{ forgejo_database_postgres_version }}
    restart: {{ docker_project_restart }}
    environment:
      - POSTGRES_USER={{ forgejo_database_postgres_user }}
      - POSTGRES_PASSWORD={{ forgejo_database_postgres_password }}
      - POSTGRES_DB={{ forgejo_database_postgres_db }}
    networks:
      - default
    volumes:
      - ./postgres:/var/lib/postgresql/data
  {% endif %}

{{ docker_project_networks }}

{{ docker_project_compose_additional_options }}
